

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>
 <div class="row">
  <div class="col-md-6 col-md-offset-3">

  <%= render partial: '/sessions/form' %>

  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  </div>
</div>
</div>
